@media screen and (min-width: 767px) , screen and (min-height: 767px)  { /*ウィンドウ幅が767px以上の場合に適用*/



.tytle{
    position: absolute; 
    top: 30px; 
    right: 30px; 
    font-size: 100px; 
    font-weight: bold; 
    color: red; 
    text-shadow: 3px 3px 6px black; 
    font-family: 'Impact', sans-serif;
}

.youtube{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.youtube1{
    width: 80%; 
    height: 50%;
}
}