@media screen and (min-width: 767px) , screen and (min-height: 767px)  { /*ウィンドウ幅が767px以上の場合に適用*/



.logo{
    position: fixed; /* スクロールしても固定 */
    top: 0px;       /* 上からの距離 */
    right: 10px;      /* 左からの距離 */
    z-index: 1000;   /* 前面に表示 */
}
.logo img {
    height: 25vh; /* ロゴの大きさ調整 */
    width: auto;
}

.youtube{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.youtube1{
    width: 80%; 
    height: 50%;
}
}